* {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    color: #000000;
    text-align: center;
}

h3{
    color: black;
    font-size: 28px;
    line-height: 48px;
    text-align: center;
    margin: 10px;
}

div {
 margin: 20px;
}

.section-one {
    width: 430px;
}

.text1, .text2 {
    color:  #414651;
    text-align: center;
    font-size: 15px;
}

.section-one-container {
    margin: 0px 20px 20px 20px;
}

.text1 {
    width: 425px;
}

.text2, .section-two-container {
    width: 528px;
}

.text3 {
    font-size: 12px;
    text-align: justify;
    position: relative;
    left: 15%;
    line-height: 20px;
    font-weight: 400;
} 

.text2 p {
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
}

.section-one-container ol {
    text-align: left;
    padding: 20px;
    color: #155EEF;
    line-height: 18px;
    font-size: 12px;
    font-weight: 400;
    width: 386px;
}

.button {
    border: 2px solid #CEA201;
    width: 92px;
    padding: 8px 20px;
    text-align: center;
    font-size: 18px;
    color: #CEA201;

}

.button p {
    width: 95px;
}

.image-container {
    width: 100%;
    height: 340px;
    overflow: hidden;
    margin-bottom: 0;
}

.image-container img {
    width: 100%;
    height: auto;
    transform: translateY(-20.5%);
}

.section-two {
    width: 530px;
}

.highlighted-container{
    text-align: center;
    color: #FF5DA3;
    ;
}
.highlighted {
    color: #00C76E;
    font-size: 14px;
    margin: 10px;
}

.section-two-container {
    background: #FFDEF0;
    border: 6px solid #C11574;
    width: 100%;
    padding: 16px;
    color: #C27512;
    margin: 20px;
}

h5 {
    font-size: 18px;
    font-weight: 800;
    color: #414651;

}
ul {
    list-style: none;
    padding-left: 0;
    margin-top: 12px;
}

ul li {
    font-size: 12px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 8px 0 8px 2em;
}

ul li::before {
    content: '•';
    font-size: 3em;
    color: black;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}


.link {
    color: #00D4BC;
    text-decoration: 1px underline solid #00D4BC;
    text-underline-offset: 5px;
    line-height: 32px;
    font-size: 20px;
    text-align: right;
    margin: 10px;
    padding-bottom: 40px;
}

.image{
    margin-left: 20px;
}